{% extends 'public.html' %}

{% block content %}
    <div class="row">
        <div class="offset-3 col-md-6">
            <div class="login-body">
                <form role="form" class="user" method="post" action="{% url 'login' %}">{% csrf_token %}
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-12 col-md-9">

                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body p-0">
                                    <!-- Nested Row within Card Body -->
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>

                                        {% for field in form %}
                                            <div class="form-group">
                                                <input class="form-control form-control-user"
                                                       id="{{ field.id_for_label }}"
                                                       maxlength="30"
                                                       name="{{ field.html_name }}"
                                                       value="{{ field.value | default_if_none:"" }}"
                                                        {% if field.html_name == 'password' %}
                                                       type="password"
                                                        {% else %}
                                                       type="text"
                                                        {% endif %}
                                                />
                                                {{ field.errors }}
                                            </div>
                                        {% endfor %}

                                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
