{% extends 'base.html' %}

{% block title %}Add Machine{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add Machine</h1>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <form role="form" class="user" method="post" action="{% url 'machine_add' %}">{% csrf_token %}
                {% include 'form_template.html' %}
                <div class="form-group row">
                    <label class="offset-4"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Submit</button>
                        <a href="{% url 'machines_list' %}" class="btn btn-light pull-right">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}