{% extends 'base.html' %}

{% block title %}Machines List{% endblock %}

{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Machines List</h1>
        {% if user.is_superuser %}
            <a href="{% url 'machine_add' %}"
               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus-circle fa-sm text-white-50"></i> Add
            </a>
        {% endif %}
    </div>

    <div class="card shadow mb-2">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <form role="form" class="user form-inline" method="post" action="{% url 'machines_list' %}">{% csrf_token %}
                        <label for="search_keyword" class="mr-sm-2">Keyword: </label>
                        <input name="search[keyword]" id="search_keyword" class="form-control" value="{{ search.keyword | default_if_none:"" }}"/>
                        <button type="submit" class="btn btn-primary ml-4"><i class="fa fa-search"></i> Search</button>
                        <button type="button" class="btn btn-light ml-4 btn-reset"><i class="fa fa-search-minus"></i> Reset</button>
                    </form>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>

        <div class="card-body">
            <form role="form" class="user form-inline" id="form-delete-message" method="post" action="">{% csrf_token %}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <td width="50">
                                <input type="checkbox" class="form-control fc-check ids-checkall" id="ids-checkall"/>
                            </td>
                            <td width="50" class="text-center">No</td>
                            {% if user.is_superuser %}
                                <th class="text-center">Manager</th>
                            {% endif %}
                            <th class="text-center">Machine Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Machine IP</th>
                            <th class="text-center">Created Date</th>
                            <th class="text-center">Updated Date</th>
                            <th class="text-center">-</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for machine in machines %}
                            <tr>
                                <td>
                                    <input name="ids[]" id="ids_{{ machine.id }}" type="checkbox" value="{{ machine.id }}" class="form-control fc-check ids-check"/>
                                </td>
                                <td class="text-center">{{ forloop.counter }}</td>
                                {% if user.is_superuser %}
                                    <td class="text-center">
                                        {{ machine.username }}
                                    </td>
                                {% endif %}
                                <td class="text-center">
                                    {{ machine.name }}
                                </td>
                                <td class="text-center">
                                    {{ machine.description }}
                                </td>
                                <td class="text-center">
                                    {{ machine.ip_address }}
                                </td>
                                <td class="text-center zone-label" data-zone="" contenteditable="false">
                                    {{ machine.created_at }}
                                </td>
                                <td class="text-center zone-label" data-zone="" contenteditable="false">
                                    {{ machine.updated_at }}
                                </td>
                                <td class="text-center">

                                    {% if user.is_superuser %}
                                        <a href="#"
                                           data-href="machine_delete/{{ machine.id }}"
                                           class="btn btn-danger btn-circle btn-sm btn-del"
                                           data-toggle="modal"
                                           data-target="#confirm-delete">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function () {
                $('#btn-delete-inbox').click(function(e){
                    e.preventDefault();
                    $('#confirm-message-delete').modal();
                });
                $('#confirm-message-delete .btn-ok').click(function(e){
                    e.preventDefault();
                    $("#form-delete-message").submit();
                });


                $('#confirm-delete').on('show.bs.modal', function (e) {
                    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                });
                $(".btn-reset").click(function (e) {
                    let form = $(this).closest('form');
                    form.find('#search_keyword').val('');
                    form.submit();
                });
            });
        </script>
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Delete the registered machine on the system
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok">Delete</a>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-message-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Delete all messages from inbox
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete all messages?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok" href="#">Delete All</a>
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}